@use "../variables.scss";

.jarp-btn {
  background-color: transparent;
  border: 0.125rem solid variables.$primary500;
  color: variables.$primary500;
  padding: 0.5rem 2rem;
  
  &.primary {
    background-color: variables.$primary500;
    color: variables.$grey100;
  }

  &.error {
    background-color: variables.$red500;
    border: 0.125rem solid variables.$red500;
    color: variables.$red100;
  }
}
