$primary100: #cee5f3;
$primary200: #a1cee8;
$primary300: #78b9de;
$primary400: #4ea3d4;
$primary500: #2E8BC0;
$primary600: #236890;
$primary700: #1c5373;
$primary800: #16415a;
$primary900: #0C2D48;

$grey100: #F1F5F9;
$grey200: #E2E8F0;
$grey300: #CBD5E1;
$grey400: #94A3B8;
$grey500: #64748B;
$grey600: #475569;
$grey700: #334155;
$grey800: #1E293B;
$grey900: #0F172A;
